TZ=Europe/London
PUID=1001
PGID=1001
ARR_UID=1000
ARR_GID=1000
YOUTUBARR_PORT=8788
BIND_ADDRESS=0.0.0.0
YOUTUBARR_CONFIG_DIR=./config
YOUTUBARR_LIBRARY_DIR=./library
YOUTUBARR_CACHE_DIR=./cache
YOUTUBARR_MOUNT_DIR=/mnt/youtubarr
YOUTUBARR_MAX_VIDEO_HEIGHT=1080
YOUTUBARR_CACHE_MAX_GB=20
YOUTUBARR_CACHE_TTL_HOURS=24
YOUTUBARR_LOG_LEVEL=INFO
